<% @entries.each do |entry| %>
  <ul>
    <li>
      <span class="entry-title"> <%= entry.title %></span>
      <p class= "entry-body">
        <%=entry.body %>
      </p>
    </li>
  </ul>
<% end %>
