<h1>Welcome to Dwidder!</h1>

<div class="entries-list">
  <%= render partial: "entries/index.html", locals: {entries: @entries} %>
</div>

<div class="entry-form">
  <%= render partial: "entries/new.html" %>
</div>


<div class="tag-list">
  <%= render partial: "tags/index.html" %>
</div>
